/* =======******====== Confirm Book======******====== */

#confirm_pirt{
    padding: 10px 0 30px;
    .container{
        .confirm{
            a{
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                font-family: 'Nunito Sans', sans-serif;
                margin-top: 10px;
                padding: 8px 20px;
                border-radius: 20px;
                background: linear-gradient(45deg, #ffd205, #fd7e14);
                
            }
        }
    }
}

/* =======******====== Confirm Book======******====== */